.img-card-fit {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.img-cont {
    height: 200px;
    overflow: hidden;
    background-color: beige;
}

.card-content{
    height: 150px;
    overflow: auto;
}

main {
    min-height: calc(100vh - 100px);
  }

.checked{
    color: orange;
}

.offcanvas-top{
    height: fit-content;
}
.result{
    color: rgb(0, 162, 255);
    padding-top: 3px;
}

.result p{
    color: white;
}

.stars{
   
    text-align: right;
    padding-right: 30px;
}

.colort{
    color: rgb(244, 235, 182);
}
.color{
    color: white;
}

span {
    margin-left: 3px;
}

.offcanvas{
    background-color: #3b3c3f;
    cursor: default;
}

.offcanvas-body{
    color: white;
}

.btn-close{
    background-color: orange;
}

.box{
    border: 1px solid gray;
    margin-bottom: 5px;
    padding-top: 3px;
}

#boton{ 
    text-align: right;
    margin-right: 25px;
    margin-bottom: 10px;
    
}

.left{ 
    text-align: left;
    
}

.text{
    padding-left: 25px;
}